# ===============================
# ENV / CONFIG
# ===============================
.env
*.env

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc

# ===============================
# MODELS
# ===============================
*.pt

# ===============================
# VIRTUAL ENV
# ===============================
venv/
.env/

# ===============================
# MAC FILES
# ===============================
.DS_Store